<h1> Hej <%= name %>. Velkommen til en bedre og mere brugbar version af DBA </h1>
<form action ="/logout?_method=DELETE" method="POST">
 <button type="submit">Log Ud</button>
</form> 
<form action ="/?_method=DELETE" method="POST">
    <button type="submit">Slet bruger og log ud</button>
   </form> 
<form action="/profile?_method=GET" method="GET">
    <button type="submit">Opdater profil</button>
</form>
<form action="/sales?_method=GET" method="GET">
    <button type="submit">Gå til din salgs side</button>
</form>

