<h1> Hi <%= name %>. Velkommen til din salgsside </h1>
<form action ="/logout?_method=DELETE" method="POST">
 <button type="submit">Log Ud</button>
</form> 
<form action ="/?_method=DELETE" method="POST">
    <button type="submit">Slet bruger og log ud</button>
   </form> 
<form action="/profile?_method=GET" method="GET">
    <button type="submit">Update profile</button>
</form>
<form action="/sales?_method=GET" method="GET">
    <button type="submit">Opret salg</button>
</form>
</form>
<a href="/showproducts">Se hvad der er til salg</a>
</form>
