<table>
    <thead>
        <th>Id</th>
        <th>Navn</th>
        <th>Pris</th>
        <th>Kategori</th>
        <th>Image</th>
     
    </thead>
    <tr>
    
        <td> <%= kategorier.navn %> </td>
        <td> <%= kategorier.pris %> </td>
        <td> <%= kategorier.kategori %> </td>
        <td> <%= kategorier.image %> </td>
    </tr>
</table>