<h1> Velkommen til din specifikke produktside, her kan du opdatere navnet på dit produkt</h1>
<form action="/sales/:id?_method=PUT" method="POST"> 
    <label for="name"></label>
    <input type ="text" id="name" name="name" required placeholder="Vælg dit nye produkt navn">
   <br/>
    <button type="submit">Opdater</button>
</form>