<h1> Velkommen til din profilside, her kan du opdatere dit profilnavn</h1>
<form action="/profile?_method=PUT" method="POST"> 
    <label for="name"></label>
    <input type ="text" id="name" name="name" required placeholder="Vælg dit nye navn">
   <br/>
    <button type="submit">Opdater dit navn</button>
</form>
