<h1> Velkommen til din profilside</h1>
<form action="/profile?_method=PUT" method="POST"> 
    <label for="name"></label>
    <input type ="text" id="name" name="name" required placeholder="Navn">
   <br/>
    <button type="submit">Update!</button>
</form>