<h1> Start med at sælge</h1>
<form action="/sales" method="POST">
    <h2>Lav dit produkt</h2>
            <label for="price"></label>
            <input class="updateInfo" type="text" id="price" name="price" required placeholder="Pris">
            <br>
            <label for="category"></label>
            <input class="updateInfo" type="text" id="category" name="category" required placeholder="Kategori">
            <br>
            <label for="img">Upload billede:</label>
            <input type="file" id="img" name="img" accept="image/*" required>
        <form action="/sales">
            <button type="submit1">Opret salg</button>
        